* {
  list-style-type: none;
}

body {
  background-color: aliceblue;
}
main ul li {
  border-color: grey;
}

.completed {
  text-decoration: line-through;
}

.fa-solid.fa-delete-left {
  color: red;
}
